
th{
    background-color: mistyrose;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    border-spacing: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }

  td{
    padding: 50px;
    display: block;
  }

  .inline_table{
    display: inline-block;
    padding: 30px;
  }

  body{
    background-color: moccasin;
  }

  table{
    width: 700px;
  }